<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>Bank Dashboard - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard</title>

    <environment include="Development">
        <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/images/ico/favicon.ico">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet" />
        <!-- BEGIN: Vendor CSS-->
        <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/pickers/daterange/daterangepicker.css">
        <!-- END: Vendor CSS-->
        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/components.css">


        <!-- BEGIN: Page CSS-->
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/horizontal-menu.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/single-page.css">
        <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/pickers/daterange/daterange.css">
        <!-- END: Page CSS-->
        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <!-- END: Custom CSS-->
    </environment>
    @*<environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>*@

</head>
<body class="horizontal-layout horizontal-menu 2-columns  " data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
    <!-- BEGIN: Header-->
    <header>
        <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                        <li class="nav-item">
                            <a class="navbar-brand">
                                <img class="brand-logo" alt="modern admin logo" src="~/app-assets/images/logo/logo.png">
                                <h3 class="brand-text">LightPay</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse" id="navbar-mobile">
                        <ul class="nav navbar-nav mr-auto float-left">
                            @*PLACEHOLDER FOR LOGO*@
                        </ul>
                        <ul class="nav navbar-nav float-right">
                            <li class="dropdown dropdown-user nav-item">
                                <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"><span class="mr-1 user-name text-bold-700">Welcome Admin!</span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" asp-action="Logout"><i class="ft-power"></i> Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END: Header-->
        <!-- BEGIN: Main Menu-->
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
            <div class="navbar-container main-menu-content" data-menu="menu-container">
                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Dashboard">
                            <i class="la la-bank"></i>
                            <span>Admin Dashboard</span>
                        </a>
                    </li>
                    <li class="dropdown nav-item" data-menu="dropdown">
                        <a class="nav-link" asp-action="CreateClient"><i class="la la-edit"></i><span data-i18n="nav.accounts.main">User Management</span></a>

                    </li>
                </ul>
            </div>
        </div>
        <!-- END: Main Menu-->
    </header>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright &copy; 2019
                <a class="text-bold-800 grey darken-2" href="#" target="_blank">LightPay</a>
            </span>
            <span class="float-md-right d-none d-lg-block">
                Hand-crafted & Made with
                <i class="ft-heart pink"></i>
                <span id="scroll-top"></span>
            </span>
        </p>
    </footer>
    <!-- END: Footer-->

    <environment include="Development">




        <!-- BEGIN: Vendor JS-->
        <script src="~/app-assets/vendors/js/vendors.min.js"></script>
        <!-- BEGIN Vendor JS-->
        <!-- BEGIN: Page Vendor JS-->
        <script src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
        <script src="~/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
        <script src="~/app-assets/vendors/js/forms/extended/card/jquery.card.js"></script>
        <script src="~/app-assets/vendors/js/extensions/moment.min.js"></script>
        <script src="~/app-assets/vendors/js/extensions/underscore-min.js"></script>
        <script src="~/app-assets/vendors/js/extensions/clndr.min.js"></script>
        <script src="~/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js"></script>
        <script src="~/app-assets/vendors/js/pickers/daterange/daterangepicker.js"></script>
        <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
        @*<script src="../../../app-assets/vendors/js/extensions/sweetalert.min.js"></script>*@
        <!-- END: Page Vendor JS-->
        <!-- BEGIN: Theme JS-->
        <script src="~/app-assets/js/core/app-menu.js"></script>
        <script src="~/app-assets/js/core/app.js"></script>
        <!-- END: Theme JS-->
        <!-- BEGIN: Page JS-->
        <script src="~/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
        <script src="~/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
        <!-- END: Page JS-->
      
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
