@model CreateAccounViewModel
@using Microsoft.Extensions.Primitives;



<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title">User Management</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-action="CreateClient">Create Client</a>
                            </li>
                            <li class="breadcrumb-item">
                                Create Account
                            </li>
                            <li class="breadcrumb-item active">
                                <a asp-action="CreateUser">Create User</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a asp-action="AddUserAccount">Add Account To User</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row breadcrumbs-top">
                </div>
            </div>
        </div>


        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="basic-form-layouts">

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" id="basic-layout-colored-form-control">User Profile</h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form id="register-account-form" class="form" asp-controller="Authorize" asp-action="RegisterAccount" method="post">
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="la la-paperclip"></i> Register Account </h4>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput6">Account Balance</label>
                                                <input asp-for="@Model.Balance" type="number" id="companyName" class="form-control" placeholder="Account Number" name="balance" value="10000" />
                                                <span asp-validation-for="@Model.Balance" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="clientsDropdown">Choose Client</label>
                                                    <select id="clientsDropdown"  name="ClientId" class="form-control">
                                                        <option value="0" selected="" disabled="">Client...</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="reset" class="btn btn-warning mr-1">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                            <button type="submit" class="btn btn-primary" id="type-account-success">
                                                <i class="la la-check-square-o"></i> Create account
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
    <script src="~/js/createaccount.js"></script>
}