  <!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h1 class="content-header-title">All Accounts</h1>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Base style table -->
            <section id="base-style">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title float-left">
                                    Account Details
                                </h2>
                                <div class="float-right">
                                    <a class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right white" href="bank-add-account.html">
                                        <i class="ft-plus white"></i>Add New Account
                                    </a>
                                </div>
                            </div>
                            <div class="card-body mt-1">
                                <div class="table-responsive">
                                    <table id="active-accounts" class="table alt-pagination table-wrapper">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">A/c Number</th>
                                                <th class="border-top-0">A/c Nickname</th>
                                                <th class="border-top-0">Transactions</th>
                                                <th class="border-top-0">Balance</th>
                                                <th class="border-top-0">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">2043********951</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Jane Andre</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$2,984.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">2043********951</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Kail Reack</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$32,325.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">2043********951</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Shail Black</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$940.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">2043********951</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Zena wall</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$64,235.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">2043********784</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Colin Welch</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$6,436.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">2043********216</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Jones smith</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$400.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">4387********548</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Monica Luice</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$23,642.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">8637********986</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Black Smith</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$32,323.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">9587********235</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">Mark Shawn</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance"> $212.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">
                                                    <div class="ac-number">9866********651</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-hol-name">George Nelson</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-status badge badge-success badge-pill badge-sm">
                                                        View Transactions
                                                    </div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="ac-balance">$3,422.00</div>
                                                </td>
                                                <td class="align-middle">
                                                    <div class="action">
                                                        <a href="bank-add-account.html"><i class="la la-pencil-square success"></i></a>
                                                        <a href="#"><i class="la la-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="content-header row mb-1">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h1 class="content-header-title">All Users</h1>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <!-- New Orders -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title float-left">
                                User Details
                            </h2>
                            <div class="float-right">
                                <a class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right white" href="bank-add-account.html">
                                    <i class="ft-plus white"></i>Add New User
                                </a>
                            </div>
                        </div>
                        <div class="card-content">
                            <div id="new-orders" class="media-list position-relative">
                                <div class="table-responsive">
                                    <table id="new-orders-table" class="table table-hover table-xl mb-0">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Name</th>
                                                <th class="border-top-0">Client</th>
                                                <th class="border-top-0">Accounts</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-truncate">iPhone X</td>
                                                <td class="text-truncate p-1">
                                                    <ul class="list-unstyled users-list m-0">
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-19.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Katherine Nichols" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-18.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Joseph Weaver" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-17.png" alt="Avatar">
                                                        </li>
                                                        <li class="avatar avatar-sm">
                                                            <span class="badge badge-info">+4 more</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$8999</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">Pixel 2</td>
                                                <td class="text-truncate p-1">
                                                    <ul class="list-unstyled users-list m-0">
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Alice Scott" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-16.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Charles Miller" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-15.png" alt="Avatar">
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$5550</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">OnePlus</td>
                                                <td class="text-truncate p-1">
                                                    <ul class="list-unstyled users-list m-0">
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Christine Ramos" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-11.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Thomas Brewer" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-10.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Alice Chapman" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-9.png" alt="Avatar">
                                                        </li>
                                                        <li class="avatar avatar-sm">
                                                            <span class="badge badge-info">+3 more</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$9000</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">Galaxy</td>
                                                <td class="text-truncate p-1">
                                                    <ul class="list-unstyled users-list m-0">
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Ryan Schneider" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-14.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Tiffany Oliver" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-13.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Joan Reid" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-12.png" alt="Avatar">
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$7500</td>
                                            </tr>
                                            <tr>
                                                <td class="text-truncate">Moto Z2</td>
                                                <td class="text-truncate p-1">
                                                    <ul class="list-unstyled users-list m-0">
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-8.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-7.png" alt="Avatar">
                                                        </li>
                                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Rebecca Jones" class="avatar avatar-sm pull-up">
                                                            <img class="media-object rounded-circle" src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="Avatar">
                                                        </li>
                                                        <li class="avatar avatar-sm">
                                                            <span class="badge badge-info">+1 more</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td class="text-truncate">$8500</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->